<div class="container">
  <div class="row">
    <div class="z-depth-1 grey lighten-4 col s12 m8 l6 offset-m2 offset-l3 form-container">
      <div class='row'>
        <div class='input-field'>
          <input class='validate'
                 type='email'
                 id='email' />
          <label for='email'>Enter your email</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field'>
          <input class='validate'
                 type='password'
                 id='password' />
          <label for='password'>Enter your password</label>
        </div>
      </div>

      <div class='row'>
        <button type='submit'
                class='col s12 btn btn-large waves-effect indigo'>Login</button>
      </div>
    </div>
  </div>
</div>
